@model IEnumerable<Assignment2.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to First Choice Pharmacy!</h2>

@if(User.IsInRole("Admin")) { 
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <a href="@Url.Action("Details", new { id = item.Id })" style="text-decoration:none;color:black">
            <img class="img-thumbnail img-rounded" style="height:300px;width:300px;" src="@Url.Content("~/Images/Product/" + item.Path)" alt="@Html.DisplayFor(modelItem => item.Title)" />
            <h3 style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis">@Html.DisplayFor(modelItem => item.Title)</h3>
            <h2>$@Html.DisplayFor(modelItem => item.Price)</h2>
            </a>
        </div>
    }
</div>

