@model Assignment2.Models.Booking

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (@ViewBag.Result != null)
    {
        if (@ViewBag.Result == "The appointment application has been sent to the Pharmacists, please check your bookings " +
                    "and wait for the confirmation. If your appointment has been confirmed, it will be added into your calendar.")
        {
                        <div class="alert alert-success">@ViewBag.Result</div>
        }
        else
        {
        <div class="alert alert-danger">@ViewBag.Result</div>
        }
    }

<div class="form-horizontal">
    <h4>Make an appoint with out pharmacist now!</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">Duration</label>
        15 minutes
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to your calendar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
